[build]
builder = "NIXPACKS"
buildCommand = "npm install && npm run build"
watchPatterns = ["**/*.ts", "**/*.json"]

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/api/health"
healthcheckTimeout = 100
